*.o
*.so
*.dll
*.dylib
*.exe
/.project
/obj/
/libs/
*.a
/test-harness
/test-harness-presenter
/test-harness-runs/
/opera-test-harness
/opera-test-harness-presenter
/opera-test-harness-runs/
.vscode/pro-deployer.json
